# Course #5 Introduction to Python
## Tuples: 
- another type of data sequences (jm- data collection)
- INMUTABLES (but you can add and multiply)
- Default sequence type in Python.

In [1]:
# A simple tuple
x = (40, 41, 42)
x

(40, 41, 42)

In [2]:
# All three values al packed in tuple y
y = 50, 51, 52
y

(50, 51, 52)

In [3]:
# tuple assigment, several vars at left, same num of vals at right
a, b, c = 2, 4, 6
b

4

In [4]:
# Indexing - sliceng tuples
print(x[0])
print(y[1:])

40
(51, 52)

In [6]:
# Quite useful when dealing with diff comma separate values
(age, years_at_school) = "37, 9".split(',')
print(age, type(age))

37 <class 'str'>

In [8]:
# Functions can return tuples as return values
def square_info(side):
    A = side ** 2
    P = side * 4
    return A, P

square_info(3)

(9, 12)